body{background-color: blueviolet; font-family: 'Roboto', sans-serif; text-align: justify; font-size: 1.25em; font-weight: 600;}
p{text-decoration: underline; text-transform: uppercase;}
.image{border: 10px solid grey;}